@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0f3d76;
  --secondary: #d3a530;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@import "./styles/barfiller.css";
@import "./styles/bootstrap.min.css";
@import "./styles/flaticon.css";
@import "./styles/font-awesome.min.css";
@import "./styles/magnific-popup.css";
@import "./styles/owl.carousel.min.css";
@import "./styles/slicknav.min.css";
@import "./styles/style.css";
